# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyd
*.pyo
*.dist-info/
*.egg-info/

# Environments
.env
.venv
env/
venv/

# Editors
.vscode/
.idea/

# Testing
.pytest_cache/
.coverage
htmlcov/

# MyPy
.mypy_cache/

# Jupyter Notebook
.ipynb_checkpoints

# Rye / uv
.rye/
.uv/

# Misc
*.log
*.sqlite3
*.db
